<!DOCTYPE html>
<html lang="en">
  <head>
		<title>Hello Vue.js</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
	</head>
  <body>

    <div id="app" class="container">
			<h1>{{ nbUsers }} personne{{ nbUsers > 1 ? 's': '' }}</h1>
			<input type="text" v-model="q" />
			<ul>
				<li v-for="user in filteredUsers">
					{{ user.name }} <button @click="removeUser(user.id)">X</button>
				</li>
			</ul>
			<input type="text" v-model="newName" @keyup.enter="addUser"/>
    </div>

		<script src="https://unpkg.com/vue"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script>
      new Vue({
        el: '#app',
				data: {
					q: '',
					newName: '',
					users: [
						{ id: 1, name: 'Gildas' },
						{ id: 2, name: 'Ronan' },
						{ id: 3, name: 'Enora' },
						{ id: 4, name: 'Maxime' },
						{ id: 5, name: 'Ophelie' },
						{ id: 6, name: 'Cedric' }
					]
				},
				beforeMount() {
					var users = localStorage.getItem('users')
					if (users) {
						this.users = JSON.parse(users)
					}
					this.saveUsers()
				},
				watch: {
					users: {
						deep: true,
						handler: 'saveUsers'
					}
				},
				computed: {
					nbUsers() {
						return this.users.length;
					},
					filteredUsers() {
						return this.users.filter((user) => {
							return user.name.toLowerCase().includes(this.q.toLowerCase())
						})
					}
				},
				methods: {
					addUser: function() {
						if (!this.newName) return
						this.users.push({
							id: Date.now(),
							name: this.newName
						});
						this.newName = '';
					},
					removeUser(id) {
						this.users = this.users.filter((user) => user.id !== id)
					},
					saveUsers() {
						console.log('Save users')
						localStorage.setItem('users', JSON.stringify(this.users))
					}
				}
      })
    </script>

  </body>
</html>