<!DOCTYPE html>
<html lang="en">
  <head>
		<title>Hello Vue.js</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" />
	</head>
  <body>

    <div id="app" class="container">
			<h1>{{ nbNames }} personne{{ nbNames > 1 ? 's': '' }}</h1>
			<input type="text" v-model="q" />
			<ul>
				<li v-for="(name, index) in filteredNames" @dblclick="editName(index)">
					<div v-if="editingIndex !== index">{{ name }} <button @click="removeName(index)">X</button></div>
					<input v-else type="text" v-model="editingName" @keyup.enter="saveName(index)"/>
				</li>
			</ul>
			<input type="text" v-model="newName" @keyup.enter="addName"/>
    </div>

		<script src="https://unpkg.com/vue"></script>
		<script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script>
      new Vue({
        el: '#app',
				data: {
					q: '',
					newName: '',
					editingName: '',
					editingIndex: -1,
					names: [
						'Gildas',
						'Ronan',
						'Enora',
						'Maxime',
						'Ophelie',
						'Cedric'
					]
				},
				beforeMount() {
					var names = localStorage.getItem('names')
					if (names) {
						this.names = JSON.parse(names)
					}
					this.saveNames()
				},
				watch: {
					names: 'saveNames'
				},
				computed: {
					nbNames() {
						return this.names.length;
					},
					filteredNames() {
						return this.names.filter((name) => {
							return name.toLowerCase().includes(this.q.toLowerCase())
						})
					}
				},
				methods: {
					addName: function() {
						if (!this.newName) return
						this.names.push(this.newName);
						this.newName = '';
					},
					saveName(index) {
						this.editingIndex = -1
						this.$set(this.names, index, this.editingName)
						this.editingName = ''
					},
					editName(index) {
						this.editingIndex = index
						this.editingName = this.names[index]
					},
					removeName(index) {
						this.names.splice(index, 1);
					},
					saveNames() {
						localStorage.setItem('names', JSON.stringify(this.names))
					}
				}
      })
    </script>

  </body>
</html>